<div class="topnav">
    <div class="top">
        <div>
            1
        </div>

        <div class="desktop-disappear">
            MENU
        </div>
    </div>

    <div class="bottom">
        <ul>
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a href="#" routerLinkActive="active">About</a></li>
            <li><a href="#" routerLinkActive="active">Project</a></li>
            <li><a href="#" routerLinkActive="active">Service</a></li>
            <li><a href="#" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>

    <div class="mobile-disappear">
        <app-greenbutton label="Login" link="home"></app-greenbutton>
    </div>
</div>