<app-topnav></app-topnav>

<div class="jumbotron">
    <div>
        <h2>Lets Make our Earth Green and Clean ☘️</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat facilisis quam volutpat turpis. Felis mi, ultrices ornare duis placerat erat.
        </p>

        <div>
            <app-greenbutton label="Start Today"></app-greenbutton>
        </div>
    </div>
    <div>
        <div class="circle-container">
            <div class="biggest">

            </div>
            <div class="bigger">

            </div>
            <div class="big">

            </div>
        </div>
    </div>
</div>

<div class="articles">

    <div class="article-title">

        <div class="order-md-1">
            <h2>Protect Our Earth Against Climate Change</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin consectetur netus dui, ultrices ornare lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Aliquam vel, in molestie morbi eleifend feugiat nunc fringilla in. Amet, sit elementum ut enim neque, adipiscing euismod ac. Molestie eu 
            </p>

            <a routerLink="#">Read More</a>
        </div>

        <div  style="font-size: 160px; color: #E6E6E6;">
            01
        </div>
    </div>

    <div class="article-thumbnail">
        <img src="../../../assets/images/article1.jpg" />
    </div>

    <div class="article-title mt-5">

        <div class="order-md-1">
            <h2>Together We Can Restore Our Planet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin consectetur netus dui, ultrices ornare lectus ac egestas. Vivamus tellus vestibulum aliquet arcu a duis. Aliquam vel, in molestie morbi eleifend feugiat nunc fringilla in. Amet, sit elementum ut enim neque, adipiscing euismod ac. Molestie eu 
            </p>

            <a routerLink="#">Read More</a>
        </div>

        <div style="font-size: 160px; color: #E6E6E6;">
            02
        </div>
    </div>

    <div class="article-thumbnail">
        <img src="../../../assets/images/article2.jpg" />
    </div>
    
</div>

<div class="mission">
    <h2>Our Mission to <br>Save the Planet</h2>

    <div class="missioncards-container">
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
        <div>
            <app-ourmissioncards></app-ourmissioncards>
        </div>
    </div>
</div>

<div class="project">
    <div class="project-header">
        <h2>Our Latest Project</h2>

        <app-greenbutton label="See All"></app-greenbutton>
    </div>
    <div class="project-content">
        <div>
            <app-projectcard></app-projectcard>
        </div>
        <div class="left">
            <app-projectcard></app-projectcard>
            <app-projectcard></app-projectcard>
            <app-projectcard></app-projectcard>
        </div>
    </div>
</div>

<div class="help">
    <div class="left">
        <h2>The Way You Help Us 🍀</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat facilisis quam volutpat turpis. Felis mi, ultrices ornare duis.</p>

        <div class="buttons">
        <app-greenbutton label="Donate"></app-greenbutton> <app-whiteborderbutton label="Take Action"></app-whiteborderbutton>
        </div>
    </div>
    <div>
        
    </div>
</div>

<div class="blog">
    <div class="blog-header">
        <h2>Our Latest Blog</h2>

        <app-greenbutton label="See All"></app-greenbutton>
    </div>
    <div class="blog-content scrolling-wrapper">
        <div>
            <app-blogcard></app-blogcard>
        </div>
        <div>
            <app-blogcard></app-blogcard>
        </div>
        <div>
            <app-blogcard></app-blogcard>
        </div>
    </div>
</div>

<div class="footer">
    <div>
        <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Integer gravida vitae ultrices urna et porttitor malesuada.</p>
    </div>

    <div>
        <p>Get in Touch</p>
        
        <ul>
            <li>8819 Ohio St. South Gate,
                CA 90280</li>
            <li>Ourstudio@hello.com</li>
            <li>+1 386-688-3295</li>
        </ul>
    </div>

    <div>
        <p>Recent Post</p>
        
        <ul>
            <li>The EU needs to hold the financial sector in global deforestation</li>
            <li>The EU needs to hold the financial sector in global deforestation</li>
            
        </ul>
    </div>

    <div>
        <p>Join a Newsletter</p>

        <form>

            <label>Your Email</label>

            <div>
                <input type="email" class="form-control" placeholder="Enter Your Email">
            </div>

            <div>
                <input type="submit" class="btn-primary" value="Subscibe">
            </div>
            
        </form>
    </div>
</div>
